<!DOCTYPE html>
<html>
<head>
    <title>Привет, Мир!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Привет, Мир!</h1>
    <h2>Это учебный сайт, с его помощью будут изучены технологии python/django, html/css.</h2>
    <h3>Как видите, здесь используются заголовки различных уровней.</h3>
    <img src="{% static 'img/dpb-logo.png' %}" />
    <h4>Здесь есть маркированный список:</h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>

    <h4>И нумерованный список:</h4>
    <ol>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ol>

    <h3>Пример таблицы:</h3>
    <table>
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Город</th>
            <th>Профессия</th>
        </tr>
        <tr>
            <td>Анна</td>
            <td>25</td>
            <td>Москва</td>
            <td>Инженер</td>
        </tr>
        <tr>
            <td>Иван</td>
            <td>30</td>
            <td>СПб</td>
            <td>Врач</td>
        </tr>
        <tr>
            <td>Мария</td>
            <td>28</td>
            <td>Казань</td>
            <td>Учитель</td>
        </tr>
        <tr>
            <td>Петр</td>
            <td>35</td>
            <td>Новосибирск</td>
            <td>Программист</td>
        </tr>
    </table>
</body>
</html>